<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="rutaLogs">E:/logs/</Property>
	</Properties>
	<Appenders>
		<Console name="Appender1">
			<PatternLayout pattern="%m %L %n"/>
		</Console>
		<Console name="Appender2">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss} - %F - %m %n"/>
		</Console>
		<Console name="Appender3">
			<PatternLayout pattern="%F - %m %n"/>
		</Console>
		<Console name="Appender4">
			<PatternLayout pattern="%d{dd/MM HH:mm:ss} - %m %n"/>
		</Console>
		<File name="Archivo1" filename="${rutaLogs}log2.log" append="true">
			<PatternLayout pattern="%d{dd/MM/yyyy HH:mm:ss} - %F - %m %n"/>
		</File>
		<RollingFile name="ArchivoRolling" filename="${rutaLogs}semana10.log"
			filepattern="semana10-%d{dd-MM-yyyy HH:mm}.log">
			<PatternLayout>
				<Pattern>%d{dd/MM/yyyy HH:mm:ss} - %F - %m %n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="ArchivoRolling"/>
		</Root>
		<logger name="usuarios" level="fatal" additivity="true">
			<AppenderRef ref="Appender3"/>
		</logger>
		<logger name="clientes" level="debug" additivity="false">
			<AppenderRef ref="Appender4"/>
		</logger>
	</Loggers>
</Configuration>