form{
    width: 50%;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 10px;
}

p{
    font-weight: bold;
    font-family: Verdana;
    font-size: 10px;
}

textarea{
    resize: vertical;
    width: 50%;
}

input[type=text]{
    width: 50%;   
}

.table-cols{
    width: auto;
    max-width: 15%;
    margin: 10px;
}

.first-col{
    width:25%;
}

table,td,td{
    border: 1px solid #bbb;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 12px;
}

table{
    width: 80%;
}

.table-header{
    background-color: #E6E6E6;
    text-align: center;
}

td{
    padding: 10px;
}

.grey-row{
    background-color: #F5F5F5;
}

td div{
    text-align: center;
}